# Bỏ qua file Python biên dịch
__pycache__/
*.pyc
*.pyo

# Môi trường ảo
venv/
env/
.venv/

# Biến môi trường và file nhạy cảm
.env
firebase-key.json

# VSCode và IDE khác
.vscode/
.idea/

# File log (nếu có)
*.log

# Báo cáo coverage test
.coverage
htmlcov/

# Build
*.egg-info/
.eggs/
dist/
build/

# MacOS & Windows hệ thống
.DS_Store
Thumbs.db
